FLASK_ENV=development
DATABASE_URL=postgresql+psycopg2://postgres:SENHA@HOST:5432/postgres
JWT_SECRET=troque_essa_chave_por_uma_chave_grande
JWT_ACCESS_MINUTES=30
JWT_REFRESH_DAYS=7
COOKIE_SECURE=false
COOKIE_DOMAIN=
CORS_ORIGINS=http://localhost:5173,http://localhost:8080
